@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

body {
    background-color: #6b84ff;

    font-family: 'Roboto', sans-serif;

    font-size: 18px;
    line-height: 1.6;

}



img,
iframe,
video {
    max-width: 100%;
}

a {
    color: red;
    text-decoration: none; 
}

a:hover {
    background-color: white;
    text-decoration: underline;
}

a:visited {
    background-color: red;
}


/* -------------------- HEADINGS AND TYPE */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lobster', cursive;
    color: #222;
}


h1 {
     
    font-size: 64px;
}

h2 {
    font-size: 48px;
    line-height: 1.2;
}


h3 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

p {
    margin-bottom: 2em;
}

.highlight {
    font-weight: bold;
  
}

/* -------------------- LAYOUTS */

.layout-wide {
    background-color: #ffe66b;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;

   
}



/* -------------------- HEADER */

/* -------------------- NAVIGATION */



/* -------------------- FOOTER */

/* -------------------- MODULES */

.content-item {
    display: grid;
    
}

@media screen and (min-width: 800px) {
    
    .content-item {
        grid-template-columns: 1fr 1fr;
    }
}