@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

body {
    background-color: #6b84ff;

    font-family: 'Roboto', sans-serif;

}



img,
iframe,
video {
    max-width: 100%;
}




/* -------------------- HEADINGS AND TYPE */

h1,
h2,
h3,
h4,
h5 {

    
    font-family: 'Lobster', cursive;
}


h1 {
    
    color: #222;
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

p {
    margin-bottom: 2em;
}

/* -------------------- LAYOUTS */

.layout-wide {
    background-color: #ffe66b;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}



/* -------------------- HEADER */

/* -------------------- NAVIGATION */



/* -------------------- FOOTER */

/* -------------------- MODULES */

.content-item {
    display: grid;
    
}

@media screen and (min-width: 800px) {
    
    .content-item {
        grid-template-columns: 1fr 1fr;
    }
}