@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #6b84ff;

    --main-font: 'Roboto', sans-serif;

    --heading-font: 'Lobster', cursive;



    /* --main-text-color: #34495e;
	--link-color: #ff5b5e; 
	--border-color: #97a4b1; 
	--alternative-bg-color: #191931; 
	--alternative-text-color: #e8eef4; 

	--vertical-spacer: 20px; */
}


body {
    background-color: var(--main-bg-color);

    font-family: var(--main-font);

    font-size: 18px;
    line-height: 1.6;

}



img,
iframe,
video {
    max-width: 100%;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    background-color: white;
    text-decoration: underline;
}

a:visited {
    background-color: red;
}


/* -------------------- HEADINGS AND TYPE */

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--heading-font);
    color: #222;
}


h1 {

    font-size: 64px;
}

h2 {
    font-size: 48px;
    line-height: 1.2;
}


h3 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

p {
    margin-bottom: 2em;
}

.highlight {
    font-weight: bold;

}

/* -------------------- LAYOUTS */

.layout-wide {
    background-color: #ffe66b;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;


}



/* -------------------- HEADER */

header {
    text-align: center;
}

.header-image img {
    max-width: 150px;
}

.header-text {
    font-family: 'Lobster', cursive;
    font-size: 32px;
}

/* -------------------- NAVIGATION */



/* -------------------- FOOTER */

/* -------------------- MODULES */

.content-item {
    display: grid;

}

@media screen and (min-width: 800px) {

    .content-item {
        grid-template-columns: 1fr 1fr;
    }
}